body {
  background-image: url(../img/angular_solidBlack.svg);
  background-size: 125% 125%;
  background-repeat: no-repeat;
  background-position: center center;
}

.reveal blockquote {
  background: rgba(255, 255, 255, 0.1);
  color: #bbb;
}

.reveal .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row;
  justify-content: center;
}

.reveal .flex-item {
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  margin: 0 5px;
}

.reveal .flex-item img {
  height: 250px;
  border: 0;
  margin: 0;
  vertical-align: middle;
  box-shadow: none;
}