body {
  background-image: url(../img/angular_solidBlack.svg);
  background-size: 125% 125%;
  background-repeat: no-repeat;
  background-position: center center;
}

.reveal blockquote {
  background: rgba(255, 255, 255, 0.1);
  color: #bbb;
}

.reveal section img {
  background: none;
  border: 0;
}

.reveal small {
  vertical-align: baseline;
}

.reveal a {
  cursor: pointer;
}

.float-left {
  float: left;
}

/* Code blocks */
.reveal pre {
  font-size: 0.4em;
}

.reveal .angular-cli pre {
  width: 50%;
}

.reveal .modules pre {
  width: 60%;
}

.reveal .components pre {
  width: 75%;
}

.reveal .routing pre {
  width: 70%;
}

/* Tables */
.reveal table th {
  text-align: center;
}

.reveal table th,
.reveal table td {
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #ddd;
}

.reveal table th:last-child,
.reveal table td:last-child {
  border-right: 0;
}

.reveal table td {
  color: #ddd;
}

/* Flexbox stuff */
.reveal .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row;
  justify-content: center;
}

.reveal .flex-item {
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  margin: 0 2%;
}

.reveal .flex-item img {
  height: 150px;
  margin: 0;
  vertical-align: middle;
  box-shadow: none;
}

/* Performance slide */
.reveal .performance div {
  width: 60%;
  margin-right: 10px;
  line-height: 1.1;
}

.reveal .performance div:last-child {
  width: 35%;
}

.reveal .performance li {
  margin-top: 12px;
}

.reveal .performance li {
  margin-bottom: 26px;
}

/* How to start */
.reveal .seeds-1 { color: #e19b80; }
.reveal .seeds-2 { color: #8ccce2; }
.reveal .seeds-3 { color: #caa86b; }
.reveal .seeds-4 { color: #e6d891; }
.reveal .seeds-5 { color: #9bcc71; }